body {
    margin: 0;
    padding: 0px 0 0 0;
}

html,
body,
#container {
    height: 100%;
    background-position: center;
}

form {
    margin: 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.classHide {
    display: none;
}

.classMenu {
    background: #E5E5E5;
    position: fixed;
    height: 55px;
    padding: 5px 0 5px 0;
    z-index: 1000;
    width: 100%;
    margin-top: -1px;
    display: none;
}

.classMenuTop {
    top: 0;
}

.classMenuBottom {
    bottom: 0;
}

.menu-icon {
    width: 37px;
    height: 46px;
    text-indent: -9999px;
    cursor: pointer;
    display: block;
}

.menu-icon-right {
    position: absolute;
    right: 2.5%;
}

.menu-icon-left {
    position: absolute;
    left: 2.5%;
}

.classDropdownList {
    color: black;
    position: absolute;
    z-index: 10000;
    width: 100%;
    background: #E5E5E5;
    overflow: scroll;
}

.classDropdownList-topMenu {
    top: 54px;
    -webkit-box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 1);
    box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 1);
}

.classDropdownList-downMenu {
    bottom: 54px;
    -webkit-box-shadow: 0px -20px 10px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -20px 10px -10px rgba(0, 0, 0, 1);
    box-shadow: 0px -20px 10px -10px rgba(0, 0, 0, 1);
}

.classDropdownList>div {
    padding: 7px 10px 7px 2.5%;
    text-align: left;
}

.classDropdownList>div.activePage {
    background: #C5C5C5;
}

.containerTop {
    padding-top: 64px;
}

.containerBottom {
    padding-bottom: 64px;
}

.blockMsg {
    width: 80% !important;
    left: 50% !important;
    margin-left: -40% !important;
}

.youtube-container {
    position: relative;
}

.difficult-button {
    position: relative;
}

.text-bottom,
.text-top,
.text-center {
    background: #fff;
    position: absolute;
    width: 100%;
    opacity: 0.8;
    min-height: fit-content !important;
    display: block;
    padding: 10px 0 10px 0;
    color: #000;
    text-align: center;
}

.text-bottom a,
.text-top a,
.text-center a {
    display: block;
    padding: 10px 0 10px 0;
    color: #000;
    text-align: center;
}

.text-top {
    top: 10%;
}

.text-bottom {
    bottom: 10%;
}

.text-center {
    top: 50%;
    margin-top: -10px;
}

.gallery-images-container {
    position: relative;
}

.icon-container,
.shadow-container {
    position: absolute;
    width: 100%;
}

.shadow-container {
    width: 100%;
    height: 100%;
    background: url(../baseimages/circles.gif) no-repeat 50% 50%;
    background-size: 20%;
    background-color: rgba(0, 0, 0, .5);
}

.shadow-container .no-images {
    width: 100%;
    height: 100%;
    background-image: url(../baseimages/noimage.gif);
}

.icon-container img {
    width: 100%;
}

.gallery-image {
    max-width: 100%;
}

.restaurantMenuNoImages {
    background-image: url(../baseimages/cartItem.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.difficult-button-img {
    margin: 0 auto;
    display: block;
}

.difficult-button-img.shadow-image {
    box-shadow: 0px 0px 7px 2px #727272;
    margin: 0 auto;
    display: block;
}

.menu-item-href {
    color: #000;
    text-align: center;
}

.classPageLink {
    text-align: leftl
}

.menu-item-icon {
    max-width: 20px;
    max-height: 20px;
    width: 20px;
    height: 20px;
    margin-right: 2.5%;
}

.menu-item-icon-hidden {
    visibility: hidden;
}

.side-menu-left {
    background-color: #E5E5E5;
    width: 70%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
}

.side-menu-right {
    background-color: #E5E5E5;
    width: 70%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
}

.classSwipeDropList {
    overflow: scroll;
    width: 0;
}

.classSwipeDropList>div {
    padding: 7px 10px 7px 10px;
    text-align: center;
}

#container {
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    min-height: 100%;
}

.button-block .btn-custom {
    display: block;
    width: 100%;
}

.btn-defoult {
    background-color: #a0a0a0;
}

.form-control {
    max-width: 1000px !important;
}

.formSubmit {
    width: 100%;
    background-color: #a0a0a0;
}

.form-item {
    padding: 5px;
}

.form-item .form-control {
    max-width: 1000px !important;
}

.label-form-left {
    width: 30%;
    display: inline-block;
    float: left;
}

.label-form-right {
    width: 30%;
    display: inline-block;
    float: right;
}

.input-form {
    width: 69%;
}

.label-container {
    min-height: 0 !important;
}

.submit-form-right {
    text-align: right;
}

.submit-form-right-text-left {
    text-align: left;
}

.submit-form-allWidth {
    width: 99%;
}

.formSubmit {
    margin: 4px;
}

.submit-form-center {
    text-align: center;
}

.form-item {
    overflow: hidden;
}

.formBlock {
    padding-bottom: 5px;
}

.formHalf {
    width: 50%;
    display: inline-block;
    margin: 0;
}

.formThird {
    width: 33.3333%;
    display: inline-block
}

.item-shop-img {
    display: block;
    width: 100%;
    height: 90px;
}

.shopItem-row .img-column-shopItem {
    width: 30%;
    display: block;
}

.shopItem-row .content-column-shopItem {
    width: 50%;
    display: block;
    padding: 0 20px 0 16px;
}

.shopItem-row .price-column-shopItem {
    width: 20%;
    display: block;
    overflow: auto;
}

.shopItem-row.shopItem-row-left>div {
    float: left;
}

.shopItem-row.shopItem-row-right>div {
    float: right;
}

h4.item-shop-title {
    margin: 10px 0 13px;
    color: #000;
    font-weight: bold
}

p.item-shop-description {
    color: #545252;
    text-align: justify;
}

.title-menu-page,
.restaraunt-singleItem-name-label,
.restaraunt-menu-name-label {
    font-size: 18px;
    width: 95%;
    margin: 0 2.5%;
    height: 32px;
    padding-left: 17px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.20);
    font-weight: normal;
    line-height: 32px;
}

.item-shop-categoty {
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-weight: bold;
}

.center-img-shopItem {
    width: 100%;
    display: block;
    text-align: center;
}

.center-img-shopItem img {
    width: 80%;
    height: auto;
}

.shopItem-row {
    overflow: hidden;
    word-break: break-word;
    background-color: #fff;
    color: #939393;
    padding: 8px 16px;
    margin: 15px 2.5%;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
}

.btn-restaurant-menu-container {
    margin-top: 40px;
    width: 100%;
    overflow: auto;
}

.cartShop-price {
    width: 100%;
    height: 40px;
    border: 2px solid #4a8b23;
    border-bottom: none;
    color: #4a8b23;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}

.cartShop-buy {
    width: 100%;
    height: 40px;
    background-color: #4a8b23;
    font-size: 22px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}

.shopItem-column {
    width: 95%;
    margin: 15px 2.5%;
    padding: 2% 4%;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
}

.shopItem-column .img-column-shopItem {
    width: 100%;
    text-align: center;
}

.shopItem-column .img-column-shopItem img {
    max-width: 100%;
    max-height: 300px;
}

.shopItem-column .content-column-shopItem {
    width: 100%;
}

.shopItem-column .content-column-shopItem .item-shop-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.shopItem-column .content-column-shopItem .item-shop-description {
    font-size: 15px;
    line-height: 1.5;
    color: #494949;
}

.shopItem-column .btn-restaurant-menu-container {
    margin-top: 0;
}

.shopItem-column .price-column-shopItem {
    clear: both;
}

.shopItem-column .price-column-shopItem .cartShop-price {
    width: 30%;
    border: none;
    font-size: 20px;
}

.shopItem-column .price-column-shopItem .cartShop-buy {
    width: 30%;
    font-size: 24px;
}

.item-shop-categoty {
    height: 30px;
    width: 60px;
    float: right;
    border: 2px solid #939393;
    text-align: center;
    margin-right: 5px;
    background-color: #fff;
    color: #939393;
    line-height: 30px;
}

.priceUnderImg {
    float: none;
    width: 100%;
    margin-top: 5px;
}

.content-column-shopItem.shopMiddle-content {
    width: 25%;
}

.btn-shop-column {
    width: 25%;
    float: left;
}

.btn-shop-column .cartShop-price,
.btn-shop-column .btn-restaurant-menu-container,
.btn-shop-column .item-shop-categoty {
    display: block;
    float: none;
    width: 100%;
    margin: 1px;
}

.cart {
    position: relative;
    width: 100%;
    height: 100%;
}

.cart-top-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #939393;
    color: #fff;
    font-size: 20px;
    text-align: center;
    z-index: 10;
}

.braintree-container {
    margin: 50px 0 100px;
}

.container-statusBooking .cart-top-line,
.order-booking .cart-top-line,
.bookingServices-container .cart-top-line,
.dateTimePicker-container .cart-top-line {
    background-color: #000;
}

.cart-top-line .back-to-container,
.cart-top-line .back-to-timelines,
.back-to-container-from-book,
.btn-back-toservices,
.back-to-services,
.back-to-cart {
    position: absolute;
    left: 0;
    top: 10px;
    background-image: url(../baseimages/back.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-color: transparent;
    border: none;
    margin-left: 30px;
    background-repeat: no-repeat;
}

.cart-top-line .to-cart {
    position: absolute;
    right: 0;
    top: 10px;
    background-image: url(../baseimages/bag.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    background-repeat: no-repeat;
}

.btn-send-order-booking {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 46px;
    text-transform: uppercase;
    padding: 12px 0;
    color: #fff;
    background-color: #2c2a50;
    text-align: center;
    font-size: 24px;
    border: none;
    -webkit-box-shadow: 0px -1px 3px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px -1px 3px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px -1px 3px 0px rgba(74, 74, 74, 1);
}

#cart {
    margin-top: 70px;
    overflow: hidden;
}

.go-to-menu {
    width: 280px;
    height: 55px;
    background-color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 55px;
    color: #4a8b23;
    border: 2px solid #4a8b23;
    margin: 8px auto 75px;
    text-transform: uppercase;
}

.menuOrder-fixed-nav-bottom .go-to-menu-btn,
.menuCart-fixed-nav-bottom .totalPrice {
    line-height: 65px;
    text-align: center;
    color: #494949;
    font-size: 20px;
    background-color: #fff;
    width: 60%;
    float: left;
    border: none;
    margin: 0;
}

.menuOrder-fixed-nav-bottom .go-to-menu-btn {
    font-size: 18px;
}

.menuOrder-fixed-nav-bottom .btn-order,
.menuCart-fixed-nav-bottom .btn-order {
    line-height: 65px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #4a8b23;
    width: 40%;
    float: left;
}

.cart-btn {
    border-radius: 50%;
    background: none;
    border: none;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    background-image: url(../baseimages/cart.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cart-btn img {
    border-radius: 50%;
    width: 50px;
    height: auto;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px 0px 1px 0px rgba(74, 74, 74, 1);
}

.row-elementInstitution.inst-profile,
.bookingCartItem,
.cartItem,
.status-list-container {
    width: 95%;
    margin: 8px 2.5%;
    padding: 16px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
}

.cartItem-img {
    width: 30%;
    float: left;
}

.cartItem-img img {
    width: 100%;
    height: auto;
}

.cartItem-main-container {
    width: 70%;
    float: left;
    padding: 0 0 0 16px;
}

.cartItem-name {
    width: 60%;
    float: left;
    padding-top: 22px;
    text-align: left;
}

.cartItem-name-title {
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

.cartItem-name-price {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #777777;
}

.cartItem-count-container {
    border: 1px solid #4a8b23;
    width: 98px;
    float: right;
    margin-top: 16px;
}

.cartItem-count-total-price {
    width: 96px;
    height: 32px;
    color: #4a8b23;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #4a8b23;
    line-height: 32px;
}

.cartItem-info {
    width: 96px;
}

.cartItem-info div {
    float: left;
}

.delete-cartItem {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    background-image: url(../baseimages/delete-item.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.shopItem-count {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}

.shopItemCount-increase,
.shopItemCount-decrease {
    width: 32px;
    height: 32px;
    background-color: #4a8b23;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
}

.order-booking {
    width: 95%;
    margin: 50px 2.5% 80px;
}

#orderInfo input,
#orderInfo textarea,
.container-selectFreeBookTime select {
    width: 100%;
    margin: auto;
    display: block;
    background-color: transparent;
    border: 1px solid #939393;
    height: 44px;
    line-height: 1.2;
    padding-left: 5px;
    margin-bottom: 20px;
}

.order-booking textarea,
.order-booking select,
.order-booking input {
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
    line-height: 44px;
    color: #000;
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
    border-radius: none;
}

.order-booking label {
    font-size: 16px;
    text-align: left;
    color: #000;
    margin-bottom: 10px;
    font-weight: normal;
}

#orderInfo label {
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: normal;
}

#orderInfo textarea,
.order-booking textarea {
    padding-bottom: 80px;
}

.booking-amount-label,
.rest-amount-label {
    float: left;
    font-weight: bold;
    font-size: 18px;
}

.booking-amount-count,
.rest-amount-count {
    min-width: 25%;
    text-align: center;
    border: 1px solid #777;
    float: right;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-decoration: underline;
}

.booking-amount-count {
    border: 1px solid #2c2a50;
    color: #2c2a50;
}

.rest-amount-count {
    border: 1px solid #4a8b23;
    color: #4a8b23;
}

.amount-container {
    line-height: 50px;
}

.bt-drop-in-wrapper,
.amount-container {
    overflow: hidden;
}

form#payment-form-booking button,
form#payment-form button {
    border: 1px solid #777;
    outline: none;
    min-width: 100px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    background-color: #4a8b23;
}

form#payment-form-booking {
    padding-bottom: 20px;
}

.swiper-slide img {
    margin: auto;
    display: block;
}

.swiper-slide {
    width: 100%;
}

.singleItem {
    width: 95%;
    margin: 0 2.5%;
    padding: 2% 4%;
}

.singleShop-wrapper {
    margin-top: 70px;
    padding: 0 20px;
}

.singleShop-wrapper h4 {
    color: #000;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.singleShop-description {
    float: left;
}

.singleShop-description p {
    margin-bottom: 85px;
    font-size: 15px;
    line-height: 1.47;
    text-align: justify;
    color: #494949;
}

.singleShop-price {
    float: left;
    width: 50%;
    text-align: right;
    color: #4a8b23;
    font-size: 32px;
    font-weight: bold;
}

.singleShop-category {
    float: left;
    width: 50%;
    color: #4a8b23;
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
}

.menuOrder-fixed-nav-bottom,
.menuCart-fixed-nav-bottom,
.singleShop-fixed-nav-bottom {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    text-transform: uppercase;
    font-size: 20px;
    overflow: auto;
    text-align: center;
    z-index: 30;
    -webkit-box-shadow: 0px -1px 3px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px -1px 3px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px -1px 3px 0px rgba(74, 74, 74, 1);
}

.goToMenu-btn {
    line-height: 65px;
    float: left;
    width: 45%;
    height: 100%;
    background-color: #fff;
    color: #494949;
    z-index: 30;
}

.singleShop-btn {
    line-height: 65px;
    float: left;
    width: 55%;
    height: 100%;
    z-index: 30;
    background-color: #4a8b23;
    color: #fff;
}

.singleItem .cart-top-line {
    height: 50px;
}

.singleShop-wrapper .swiper-container {
    margin-top: 20px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px 0px 1px 0px rgba(74, 74, 74, 1);
}

.img-dollar-singleItem {
    width: 14px;
    margin-right: 5px;
    display: inline-block;
    background-image: url(../baseimages/dollar.png);
}

.commentOrder {
    resize: vertical;
}

.swiper-slide img {
    width: 100%;
}

.shopItem-row .img-column-shopItem img {
    width: 100%;
    height: auto;
}

.select-restaurant,
.select-menu {
    border: none;
    width: 45%;
    padding: 10px 0;
    margin-bottom: 10px;
    display: inline-block;
    margin: 0 2.5% 20px;
}

select#payMethod-booking,
select#payMethod {
    width: 100%;
    height: 44px
}

.lg-toolbar .lg-close:after {
    content: "X" !important;
}

.custom-container-booking h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    margin: 15px auto 25px;
}


/* 
.row-elementInstitution.inst-profile {
    overflow: auto;
    margin-bottom: 0;
    border: 1px solid rgba(50, 50, 50, 0.72);
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
*/

.row-elementInstitution:last-child {
    margin-bottom: 80px;
}

.row-elementInstitution {
    width: 95%;
    margin: 0 2.5% 15px;
    padding: 15px 24px;
    color: #000;
    font-size: 20px;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
}

.row-elementInstitution.inst-profile img {
    float: none;
}

.row-elementInstitution img {
    width: 100%;
    margin-bottom: 15px;
    float: left;
}

.row-elementInstitution time {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.name-elementInstitution {
    font-size: 24px;
    text-align: left;
}

.image-elementInstitution {
    width: 30%;
}

.inst-profile .image-elementInstitution {
    float: left;
}

.inst-profile .content-elementInstitution {
    float: right;
}

.content-elementInstitution {
    width: 70%;
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
    overflow: auto;
}

.image-elementInstitution image {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
}

.price-elementInstitution {
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}

.content-elementInstitution .name-elementInstitution {
    font-size: 18px;
    font-weight: bold;
}

.dur-elementInstitution {
    color: #010101;
}

.desc-elementInstitution {
    color: #494949;
    margin-bottom: 20px;
}

.btn-bookThisService {
    width: 200px;
    height: 40px;
    background-color: #2c2a50;
    color: #fff;
    float: right;
    outline: none;
    border: none;
}

.inst-profile .btn-bookThisService {
    background-color: #fff;
    color: #2c2a50;
    border: solid 2px #000048;
    font-size: 22px;
    line-height: 22px;
}

.time-elementTimeLine,
.sDay-elementTimeLine,
.cDay-elementTimeLine {
    height: 25px;
    padding-left: 40px;
    margin-bottom: 15px;
    line-height: 25px;
}

.status-list-date-day,
.time-elementTimeLine {
    background: url(../baseimages/booking-icons/clock-large.png);
    /* background-size: 25px 25px; */
    background-repeat: no-repeat;
    background-position: 0 0;
}

.status-list-date-time,
.sDay-elementTimeLine {
    background: url(../baseimages/booking-icons/calendar-large.png);
    /* background-size: 25px 25px; */
    background-repeat: no-repeat;
    background-position: 0 0;
}

.cDay-elementTimeLine {
    background: url(../baseimages/booking-icons/calendar-clock-large.png);
    /* background-size: 25px 25px; */
    background-repeat: no-repeat;
    background-position: 0 0;
}

.resource-data {
    width: 95%;
    margin: 25px 2.5% 15px;
    padding: 18px 16px 25px 16px;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
}

.resource-name {
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

.resource-info {
    width: 40%;
    float: left;
    font-size: 15px;
    text-align: left;
    color: #000000;
}

.resource-info img {
    width: 100%;
    max-height: 300px;
    margin-bottom: 16px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px 0px 3px 0px rgba(74, 74, 74, 1);
}

.resource-desc {
    width: 60%;
    float: right;
    padding: 0 25px 25px 15px;
    font-size: 14px;
    text-align: left;
    color: #484848;
}

.noimage-elementInstitution {
    width: 200px;
    height: auto;
}

.bookingServices {
    margin-top: 60px;
}

#bookingServices {
    margin-top: 60px;
    padding-bottom: 40px;
}

#dateTimePicker-date,
#dateTimePicker-time {
    border: 1px solid #939393;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    text-transform: uppercase;
    color: #000;
    width: 90%;
    height: 70px;
    margin: auto;
    display: block;
    margin-top: 10px;
    border-radius: 0;
}

.dateTimePicker-container {
    margin-top: 80px;
}

.dateTimePicker-container label {
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}

#booking-order {
    width: 100%;
    border-top: 1px solid #000048;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.bookingCartItem-data {
    width: 70%;
    min-width: 150px;
    float: left;
}

.bookingCartItem-data div {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    text-align: left;
    color: #494949;
}

.bookingCartItem-Currency {
    font-weight: 500;
}

.cartItem-delete {
    float: right;
    width: 30%;
    height: 100%;
    min-width: 25px;
    background: url(../baseimages/booking-icons/tresh.png);
    background-size: 24px 33px;
    background-repeat: no-repeat;
    background-position: right;
}

#booking-order .bookingCartItem {
    height: 165px;
}

#booking-order div:last-child {
    margin-bottom: 5px;
}

.btn-confirmDateForBook,
.btn-order-booking,
.btn-order-booking-ForFreeTime {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 65px;
    background-color: #2c2a50;
    color: #fff;
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 65px;
    text-align: center;
    -webkit-box-shadow: 0px -1px 3px 0px rgba(74, 74, 74, 1);
    -moz-box-shadow: 0px -1px 3px 0px rgba(74, 74, 74, 1);
    box-shadow: 0px -1px 3px 0px rgba(74, 74, 74, 1);
}


/* 
.btn-confirmDateForBook {
    background-color: #2c2a50;
    color: #fff;
} */

.kc_fab_wrapper {
    z-index: 9999;
}

.status-list-date {
    width: 25%;
    float: left;
}

.status-list-info {
    width: 50%;
    float: left;
}

.status-list-status {
    width: 25%;
    float: right;
}

.fab {
    background-image: url(../baseimages/cartMain.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: inline-block;
    cursor: default;
    z-index: 999;
    content: "";
}

.fab.fab-moved {
    bottom: 80px;
}

#masterfab span {
    vertical-align: top;
    line-height: 50px;
}

.fab.bottom-menu,
.cart-btn.bottom-menu {
    bottom: 80px;
}

.fab.child {
    background-color: #d24a45;
    right: 37px;
    width: 35px;
    height: 35px;
    display: none;
    opacity: 0;
    font-size: 1em;
    line-height: 35px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    display: none;
    z-index: 999;
}

.status-list {
    padding-top: 60px;
}

.status-list .status-list-data {
    font-weight: bold;
}

.status-list-status,
.status-list-info p,
.status-list-date-time,
.status-list-date-day {
    padding-left: 40px;
    height: 25px;
    margin-top: 15px;
    font-size: 18px;
    color: #000;
}

.container-selectFreeBookTime p {
    padding-top: 100px;
    padding-left: 10%;
}

.image-block img {
    display: block;
    margin: 0 auto;
}

.image-link-block img {
    display: block;
    margin: 0 auto;
}


/*@media (min-width: 960px) {
    .classMenu {
        height: 65px;
    }
    .containerTop {
        padding-top: 88px;
    }
    .containerBottom {
        padding-bottom: 88px;
    }
    .classDropdownList-topMenu {
        top: 88px;
    }
    .classDropdownList-downMenu {
        bottom: 88px;
    }
    .menu-icon-right {
        position: absolute;
        right: 15px;
    }
    .menu-icon-left {
        position: absolute;
        left: 15px;
    }
    .menu-icon {
        width: 45px;
        height: 54px;
        text-indent: -9999px;
        margin-left: 10px;
        cursor: pointer;
        display: block;
        border: 2px solid black;
        border-radius: 5px;
        padding-left: 3px;
    }
    .classMenu .menu-icon>div {
        width: 37px;
        height: 6px;
        background-color: #555353;
        margin: 8px 0;
    }
}*/


/*Switcher, Simple CheckBox Block*/

.checkBoxFormBlock,
.switcherFormBlock {
    padding-left: 5px;
}

.CheckBoxFormElement.checkbox-inline>.input-form {
    width: 13px;
}

.switcher-inline {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
}

.switcher-label-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    left: 30px;
    top: -19px;
}

input[type="checkbox"].SwitcherFormElement {
    opacity: 0;
    left: -9999px;
}

input[type="checkbox"].SwitcherFormElement+div {
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4);
}

input[type="checkbox"].SwitcherFormElement:checked+div {
    width: 40px;
    background-position: 0 0;
    background-color: #75ffe5;
    border: 1px solid #008b8b;
    box-shadow: inset 0 0 0 10px rgba(29, 177, 144, 1);
}

input[type="checkbox"].SwitcherFormElement+div>div {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-left: 1px;
}

input[type="checkbox"].SwitcherFormElement:checked+div>div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(29, 177, 144, 1);
}


/*Flex Block*/

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*flex-wrap: wrap;*/
}

.row>[class*='col-'] {
    display: flex;
    flex-direction: column;
}


/*~~~~~~~~~~~~STYLING MENU~~~~~~~~~~~~~~*/

.classMenu .menu-icon>div {
    width: 27px;
    height: 5px;
    background-color: #555353;
    margin: 7px 0;
}

.classSwiperMenu.left-menu {
    width: 3px;
    height: 100%;
    background-color: #C5C5C5;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 99999;
    display: none;
}

.classSwiperMenu.right-menu {
    width: 3px;
    height: 100%;
    background-color: #C5C5C5;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 99999;
    display: none;
}

.menu-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 15px 12.5px 0;
    border-color: transparent #C5C5C5 transparent transparent;
    position: absolute;
    content: "";
    top: 50%;
    right: 0%;
    z-index: 100;
}

.menu-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 15px;
    border-color: transparent transparent transparent #C5C5C5;
    position: absolute;
    content: "";
    top: 50%;
    left: 0%;
    z-index: 100;
}

@media (min-width: 960px) {
    .classMenu {
        height: 65px;
    }
    .containerTop {
        padding-top: 88px;
    }
    .containerBottom {
        padding-bottom: 88px;
    }
    .classDropdownList-topMenu {
        top: 88px;
    }
    .classDropdownList-downMenu {
        bottom: 88px;
    }
    .menu-icon-right {
        position: absolute;
        right: 15px;
    }
    .menu-icon-left {
        position: absolute;
        left: 15px;
    }
    .menu-icon {
        width: 45px;
        height: 54px;
        text-indent: -9999px;
        margin-left: 10px;
        cursor: pointer;
        display: block;
    }
    .classMenu .menu-icon>div {
        width: 35px;
        height: 6px;
        background-color: #555353;
        margin: 8px 0;
    }
    .shopItem-column {
        width: 90%;
        margin: 4% 5%;
        padding: 2% 10%;
        border: 1px solid #bdbdbd;
    }
    .singleItem {
        width: 95%;
        margin: 0 2.5%;
        padding: 2% 10%;
    }
}

@media(max-width:639px) {
    .shopItem-column,
    .shopItem-row {
        width: 95%;
        margin: 15px 2.5%;
        padding: 2% 4%;
        border: 1px solid #bdbdbd;
    }
    .shopItem-row .img-column-shopItem {
        width: 100%;
        text-align: center;
    }
    .shopItem-row .img-column-shopItem img {
        max-width: 100%;
        max-height: 300px;
    }
    .shopItem-row .content-column-shopItem {
        width: 100%;
        padding: 0;
    }
    .shopItem-row .content-column-shopItem .item-shop-title {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }
    .shopItem-row .content-column-shopItem .item-shop-description {
        font-size: 15px;
        line-height: 1.5;
        color: #494949;
    }
    .shopItem-row .btn-restaurant-menu-container {
        margin-top: 0;
    }
    .shopItem-row .price-column-shopItem {
        width: 100%;
        display: block;
        overflow: auto;
    }
    .shopItem-row .price-column-shopItem .cartShop-price {
        width: 45%;
        float: left;
        border: none;
        font-size: 20px;
        text-align: left;
    }
    .shopItem-row .price-column-shopItem .cartShop-buy {
        width: 45%;
        float: right;
        font-size: 20px;
    }
    .singleShop-price {
        font-size: 26px;
    }
    .singleShop-category {
        font-size: 26px;
    }
}

@media (max-width: 480px) {
    .btn-bookThisService {
        width: 195px;
    }
    .desc-elementInstitution {
        margin-bottom: 0px;
    }
    .order-booking label[for='nameOrder'] {
        margin-top: 20px
    }
    .resource-info,
    .resource-desc {
        float: none;
        width: 100%;
    }
    .resource-desc {
        padding: 0;
        font-size: 16px;
    }
    .time-elementTimeLine,
    .sDay-elementTimeLine,
    .cDay-elementTimeLine {
        line-height: 25px;
        font-size: 14px;
    }
    .cartItem-name {
        width: 100%;
        float: none;
        padding-top: 22px;
        text-align: left;
    }
    .cartItem-name-price {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 300;
        color: #777777;
    }
    .cartItem-count-container {
        border: none;
        width: 100%;
        float: right;
        margin-top: 16px;
    }
    .cartItem-count-total-price {
        width: 96px;
        height: 32px;
        color: #4a8b23;
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid #4a8b23;
        line-height: 32px;
        float: right;
    }
    .cartItem-info {
        width: 96px;
        float: left;
    }
    .shopItem-count {
        border-top: 1px solid #4a8b23;
        border-bottom: 1px solid #4a8b23;
    }
    .menuOrder-fixed-nav-bottom,
    .menuCart-fixed-nav-bottom,
    .singleShop-fixed-nav-bottom {
        font-size: 15px;
    }
    .cartItem-main-container {
        padding: 0 0 0 8px;
    }
}


/*~~~~~~~~~~~~STYLING MENU END~~~~~~~~~~~~~~*/

.first {
    background-image: url(../baseimages/booking-icons/calendar-white.png);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

.cart-backgroundImage {
    background-image: url(../baseimages/cart2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
}

.pdf-block {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
    background: url(../baseimages/pdf-small.png) no-repeat 0 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pdf-block span {
    padding-left: 30px;
}


/* Tooltip */

.custom-tooltip+.tooltip>.tooltip-inner {
    background-color: #252525;
    color: #FFFFFF;
    border: 1px solid black;
    padding: 15px;
    font-size: 16px;
    text-indent: 0px;
    border-radius: 15px;
}

.tooltip {
    overflow: hidden;
    max-width: 50%;
}

.custom-tooltip+.tooltip.top>.tooltip-arrow {
    border-top: 5px solid black;
}

.custom-tooltip+.tooltip.bottom>.tooltip-arrow {
    border-bottom: 5px solid black;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-container {
    height: 300px;
    width: 100%;
    overflow: hidden;
}


/*~~~~~~Spinner Styles~~~~~*/

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}

.sk-fading-circle {
    margin: -20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.spinner-container:not(.hidden) .sk-fading-circle {
    -webkit-animation: sk-spin 1.2s infinite linear both;
    animation: sk-spin 1.2s infinite linear both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@-webkit-keyframes sk-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes sk-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*EVENT SECTION*/

.custom-container-event {
    width: 100%;
    overflow: hidden;
    padding: 60px 0 0 0;
    font-size: 0px;
    font-family: arial;
}

.event-data-container {
    display: inline-block;
    width: 45%;
    margin: 0px 2.5% 5% 2.5%;
    box-shadow: 0px 0px 3px 1px #CCCCCC;
    box-sizing: border-box;
    position: relative;
}

.event-image-container {
    display: flex;
    justify-content: center;
}

.event-image-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-data-container img {
    max-width: 90%;
    margin: 0 auto;
    max-height: 90%;
}

.event-data-container .event-image-container {
    width: 100%;
    height: 340px;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.event-data-container .event-data {
    min-height: 110px;
    background: #E9E9E9;
}

.event-data .event-name {
    font-size: 16px;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5% 5% 5% 5%;
}

.event-data .event-start-time {
    font-size: 16px;
    padding: 0 5% 0 5%;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-image-profile .event-favorite,
.event-data-container .event-favorite {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 32px;
    height: 32px;
    background: url(../baseimages/booking-icons/favorite.png) no-repeat;
}

.event-favorite-active {
    background: url(../baseimages/booking-icons/favorite-active.png) no-repeat !important;
}


/*~~~~~~~~~~~~~~PROFILE OF EVENT~~~~~~~~~~~~~~~~~*/

.event-profile {
    font-family: arial;
    padding: 60px 5% 5% 5%;
}

.event-profile .event-profile-header {
    font-size: 30px;
    margin-bottom: 10px;
}

.event-profile .image-container img {
    width: 100%;
}

.event-profile .event-description {
    padding: 20px 0 10px 0;
    font-size: 16px;
    line-height: 24px;
}

.event-time-container {
    padding: 20px 0 0 0;
}

.event-time-container .event-start-time {
    background: url(../baseimages/booking-icons/clock-large.png) no-repeat 10px 50%;
    padding: 0 0 0 40px;
    background-size: 25px;
    height: 25px;
    line-height: 25px;
}

.event-time-container .event-start-date {
    background: url(../baseimages/booking-icons/calendar-large.png) no-repeat 10px 50%;
    padding: 0 0 0 40px;
    background-size: 25px;
    height: 25px;
    line-height: 25px;
    margin: 10px 0 10px 0;
}

.event-time-container .event-location {
    background: url(../baseimages/booking-icons/map-pin.png) no-repeat 10px 50%;
    padding: 0 0 0 40px;
    height: 25px;
    line-height: 25px;
}

.event-image-profile {
    position: relative;
}

.event-image-profile img {
    width: 100%;
}

.event-data-container .orange-event {
    background-color: #ffc000;
}

.event-data-container .green-event {
    background-color: #92d050;
}

.event-data-container .pink-event {
    background-color: #f4b183;
}

.event-data-container .purple-event {
    background-color: #df9bff;
}

.event-data-container .blue-event {
    background-color: #bdd7ee;
}

.event-data-container .grey-event {
    background-color: #d9d9d9;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media only screen and (max-width: 769px) {
    .event-data-container .event-image-container {
        height: 260px;
    }
    .event-data-container .event-data {
        min-height: 90px;
    }
}

@media only screen and (max-width: 640px) {
    .event-data-container .event-image-container {
        height: 200px;
    }
    .event-data-container .event-data {
        min-height: 80px;
    }
    .event-profile .event-profile-header {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .event-data-container .event-image-container {
        height: 150px;
    }
    .event-data-container .event-data {
        min-height: 70px;
    }
}


/*FLOOR PLAN HACK*/

.floor-frame-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#the-floor-iframe {
    position: relative;
    top: -65px;
    width: 100%;
    height: 600px;
    border: none;
}

@media only screen and (min-width: 770px) {
    #the-floor-iframe {
        top: -145px;
    }
}

@media only screen and (min-width: 797px) {
    #the-floor-iframe {
        top: -120px;
        height: 700px;
    }
}

@media only screen and (min-width: 1150px) {
    #the-floor-iframe {
        top: -105px;
        height: 800px;
    }
}

#block-ui-container img {
    max-width: 100%;
    max-height: 100%;
}