<?xml version="1.0"?>
<widget xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets" id="com.appconstructor.testsdk" version="0.0.1">
  <name>Test SDK</name>
  <description>as dfasdf asdf asdf asd fasdf asdf asdf asdf asdf asdf </description>
  <plugin name="cordova-plugin-inappbrowser" spec="1.5.0" source="npm" />
  <plugin name="cordova-plugin-file-transfer" spec="1.6.0" source="npm" />
  <plugin name="cordova-plugin-network-information" spec="1.3.0" source="npm" />
  <plugin name="cordova-plugin-whitelist" spec="1.3.2" source="npm" />
  <plugin name="cordova-plugin-x-toast" spec="2.5.2" source="npm" />
  <plugin name="cordova-plugin-statusbar" spec="2.3.0" source="npm" />
  <plugin name="cordova-plugin-document-viewer" spec="0.9.5" source="npm" />
  <plugin name="cordova-plugin-device" spec="2.0.1" source="npm" />
  <plugin name="cordova-plugin-file-opener2" spec="2.0.19" source="npm" />
  <plugin name="cordova-plugin-file" spec="6.0.1" source="npm" />
  <plugin name="cordova-android-support-gradle-release" spec="https://github.com/dpa99c/cordova-android-support-gradle-release" source="git" />
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*youtube.com/*" />
  <allow-intent href="*" />
  <access origin="*" />
  <feature name="http://api.phonegap.com/1.0/file">
    <param name="" value="" />
  </feature>
  <feature name="http://api.phonegap.com/1.0/network">
    <param name="" value="" />
  </feature>
  <feature name="File">
    <param name="android-package" value="org.apache.cordova.file.FileUtils" />
  </feature>
  <feature name="Toast">
    <param name="android-package" value="nl.xservices.plugins.Toast" />
  </feature>
  <feature name="Toast">
    <param name="ios-package" value="Toast" />
  </feature>
  <feature name="Toast">
    <param name="wp-package" value="Toast" />
  </feature>
  <feature name="FileTransfer">
    <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
  </feature>
  <platform name="android">
    <preference name="android-manifest/application/@android:theme" value="@android:style/Theme.NoTitleBar.Fullscreen" />
    <preference name="android-manifest/application/activity/@android:windowSoftInputMode" value="stateHidden|adjustPan" />
    <preference name="android-manifest/application/activity/@android:configChanges" value="keyboardHidden|orientation" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="true" />
  </platform>
  <preference name="android-targetSdkVersion" value="28" />
  <preference name="show-splash-screen-spinner" value="false" />
  <preference name="auto-hide-splash-screen" value="true" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="orientation" value="default" />
  <preference name="phonegap-version" value="cli-7.1.0" />
  <icon src="icon.png" />
  <icon platform="android" qualifier="ldpi" src="icons/ldpi.png" width="36" height="36" />
  <icon platform="android" qualifier="mdpi" src="icons/mdpi.png" width="48" height="48" />
  <icon platform="android" qualifier="hdpi" src="icons/hdpi.png" width="72" height="72" />
  <icon platform="android" qualifier="xhdpi" src="icons/xhdpi.png" width="96" height="96" />
  <splash src="landings/screen-hdpi-landscape.png" density="land-hdpi" />
  <splash src="landings/screen-ldpi-landscape.png" density="land-ldpi" />
  <splash src="landings/screen-mdpi-landscape.png" density="land-mdpi" />
  <splash src="landings/screen-xhdpi-landscape.png" density="land-xhdpi" />
  <splash src="landings/screen-hdpi-portrait.png" density="port-hdpi" />
  <splash src="landings/screen-ldpi-portrait.png" density="port-ldpi" />
  <splash src="landings/screen-mdpi-portrait.png" density="port-mdpi" />
  <splash src="landings/screen-xhdpi-portrait.png" density="port-xhdpi" />
</widget>