<?xml version="1.0"?>
<widget xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:gap="http://phonegap.com/ns/1.0" xmlns="http://www.w3.org/ns/widgets" id="com.appconstructor.tomsoier" version="0.0.28">
  <name>tomSoier</name>
  <description>tomSoier book tomSoier book tomSoier book tomSoier book</description>
  <plugin name="cordova-plugin-inappbrowser" spec="1.5.0" source="npm" />
  <plugin name="cordova-plugin-file-transfer" spec="1.6.0" source="npm" />
  <plugin name="cordova-plugin-network-information" spec="1.3.0" source="npm" />
  <plugin name="cordova-plugin-whitelist" spec="1.3.0" source="npm" />
  <plugin name="cordova-plugin-x-toast" spec="2.5.2" source="npm" />
  <plugin name="cordova-plugin-statusbar" spec="2.2.0" source="npm" />
  <plugin name="cordova-plugin-document-viewer" spec="0.8.1" source="npm" />
  <plugin xsi:type="PluginWithParamXmlModel" name="cordova-plugin-facebook4" spec="~1.9.0" source="npm">
    <param name="APP_ID" value="2317472948478828" />
    <param name="APP_NAME" value="TS" />
  </plugin>
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*youtube.com/*" />
  <allow-intent href="*" />
  <access origin="*" />
  <feature name="http://api.phonegap.com/1.0/file">
    <param name="" value="" />
  </feature>
  <feature name="http://api.phonegap.com/1.0/network">
    <param name="" value="" />
  </feature>
  <feature name="File">
    <param name="android-package" value="org.apache.cordova.file.FileUtils" />
  </feature>
  <feature name="Toast">
    <param name="android-package" value="nl.xservices.plugins.Toast" />
  </feature>
  <feature name="Toast">
    <param name="ios-package" value="Toast" />
  </feature>
  <feature name="Toast">
    <param name="wp-package" value="Toast" />
  </feature>
  <feature name="FileTransfer">
    <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
  </feature>
  <gap:platform name="android" />
  <gap:platform name="ios" />
  <preference name="android-build-tool" value="gradle" />
  <preference name="android-minSdkVersion" value="15" />
  <preference name="android-targetSdkVersion" value="15" />
  <preference name="orientation" value="default" />
  <preference name="phonegap-version" value="cli-6.5.0" />
  <icon platform="" qualifier="" src="icon.png" width="" height="" />
  <icon platform="android" qualifier="ldpi" src="icons/icon180.png" width="180" height="180" />
  <icon platform="android" qualifier="mdpi" src="icons/icon152.png" width="152" height="152" />
  <icon platform="android" qualifier="hdpi" src="icons/icon76.png" width="76" height="76" />
  <icon platform="ios" qualifier="" src="icons/icon180.png" width="180" height="180" />
  <icon platform="ios" qualifier="" src="icons/icon152.png" width="152" height="152" />
  <icon platform="ios" qualifier="" src="icons/icon76.png" width="76" height="76" />
  <splash src="icons/screen-hdpi-landscape.png" density="land-hdpi" />
  <splash src="icons/screen-ldpi-landscape.png" density="land-ldpi" />
  <splash src="icons/screen-mdpi-landscape.png" density="land-mdpi" />
  <splash src="icons/screen-xhdpi-landscape.png" density="land-xhdpi" />
  <splash src="icons/screen-hdpi-portrait.png" density="port-hdpi" />
  <splash src="icons/screen-ldpi-portrait.png" density="port-ldpi" />
  <splash src="icons/screen-mdpi-portrait.png" density="port-mdpi" />
  <splash src="icons/screen-xhdpi-portrait.png" density="port-xhdpi" />
  <splash src="icons/Default~iphone.png" platform="ios" width="320" height="480" />
  <splash src="icons/Default@2x~iphone.png" platform="ios" width="640" height="960" />
  <splash src="icons/Default-568h@2x~iphone.png" platform="ios" width="640" height="1136" />
  <splash src="icons/Default-Portrait~ipad.png" platform="ios" width="768" height="1024" />
  <splash src="icons/Default-Landscape~ipad.png" platform="ios" width="1024" height="768" />
  <splash src="icons/Default-667h.png" platform="ios" width="750" height="1334" />
  <splash src="icons/Default-736h.png" platform="ios" width="1242" height="2208" />
  <splash src="icons/Default-Portrait@2x~ipad.png" platform="ios" width="1536" height="2048" />
  <splash src="icons/Default-Landscape@2x~ipad.png" platform="ios" width="2048" height="1536" />
  <splash src="icons/Default-Landscape-736h.png" platform="ios" width="2208" height="1242" />
</widget>