<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>418915081706-ts5e534id7vte8ofl8lg2gsnon5h8lel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418915081706-ts5e534id7vte8ofl8lg2gsnon5h8lel</string>
	<key>API_KEY</key>
	<string>AIzaSyBbQbyMMtivxHISNQjp74f8ZeNLc8YH0OA</string>
	<key>GCM_SENDER_ID</key>
	<string>418915081706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.nlt.testapp</string>
	<key>PROJECT_ID</key>
	<string>testapp-7979b</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-7979b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:418915081706:ios:fd3f63cc043f38fd</string>
	<key>DATABASE_URL</key>
	<string>https://testapp-7979b.firebaseio.com</string>
</dict>
</plist>